<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>estudo</title>
</head>
<body>
    <div id="bg">
        <section class="ATIVIDADE6">
            <div>
                <label for="">Nome</label>
                <input id="nome" name="nome" type="text" placeholder="Insira seu nome">
                <input id="sobrenome" name="nome" type="text" placeholder="Insira seu nome">
                <input id="botao" type="button" class="btn" value="Exibir nome">
            </div>
        </section>
    
    
    
        <section class="ATIVIDADE7">
            <div class="">
                <img id="lamp" src="/img/lampada.jpg" class="apagada">
            </div>
        </section>
    
    
        <section class="ATIVIDADE8" style="margin-top: 15px;">
            <div class="ATIVIDADE 8 dFlex">
                <label for="">CPF</label>
                <input class="teste" id="cpf" name="cpf" type="text" placeholder="Insira seu CPF"
                        maxlength="14" oninput="mostrarTexto()" onkeyup="mascararCpf(this)">
                <p id="exibir"></p>
            </div>
        </section>
    
        <section class="ATIVIDADE 9" style="margin-top: 15px;">
            <div class="dFlex">
                <input type="text" id="soma1" placeholder="Primeiro numero da soma">
                <input type="text" id="soma2" placeholder="Segundo numero da soma">
                <input type="submit" class="btn" id="btn-soma" value="somar">
                <input type="text" id="resultado" placeholder="Resultado da soma">
            </div>
        </section>

        <section class="ATIVDADE 10" style="margin-top: 15px;">
            <div class="dFlex">
                <button type="submit" id="verde" class="green">Fundo verde</button>
                <button type="submit" id="vermelho" class="red">Fundo vermelho</button>
            </div>
        </section>
    </div>
    
</body>


    <script src="/js/exercicio6.js"></script>
    <script src="/js/exercicio7.js"></script>
    <script src="/js/exercicio8.js"></script>
    <script src="/js/exercicio9.js"></script>
    <script src="/js/exercicio10.js"></script>


</html>